@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@700&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* border: red 1px solid; */
}

body {
  font-family: "Anuphan", sans-serif;
}

.header_logo {
  width: 250px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 20px 40px;
  display: inline-block;
}

.container-fluid {
  background-color: rgb(12, 12, 12);
}

ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.caja {
  background: linear-gradient(rgba(12, 12, 12, 0.75), rgb(12, 12, 12)), url(../assets/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 35%;
}

.texto {
  padding-top: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
}

.caja_img {
  grid-area: img;
  display: flex;
  justify-content: center;
  padding-left: 230px;
}

.caja_texto {
  grid-area: text;
  width: 400px;
  line-height: 25px;
}

.fondo {
  background-color: rgb(12, 12, 12);
}

.caja_his {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img textuno" "textdos imgdos";
}

.caja_his-img {
  grid-area: img;
  padding: 30px 50px;
}
.caja_his-img img {
  width: 500px;
}

.caja_his-imgdos {
  grid-area: imgdos;
  padding: 30px 50px;
}
.caja_his-imgdos img {
  width: 500px;
}

.textuno {
  grid-area: textuno;
}

.textdos {
  grid-area: textdos;
}

.caja_his-p {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 600px;
  padding: 30px 50px;
  line-height: 20px;
}

.intBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intBorder img {
  width: 400px;
  border: solid;
}
.intBorder p {
  width: 400px;
}
.intBorder h4 {
  padding: 20px 20px;
}

form {
  padding: 50px 50px;
  width: 700px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

input {
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 15px;
}

textarea {
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 15px;
}

.formbtn {
  background-color: rgb(12, 12, 12);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.form h2 {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.form_text {
  display: flex;
  justify-content: center;
  padding-left: 300px;
}

footer {
  text-align: center;
  background-color: rgb(18, 18, 18);
  padding: 50px 70px;
}

.redes {
  display: flex;
  justify-content: space-around;
  padding: 15px 250px;
}
.redes img {
  width: 40px;
}

.fondo h3 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

@media (max-width: 480px) {
  .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
  }
  .caja {
    padding-bottom: 10%;
  }
  .caja_texto h1 {
    display: flex;
    justify-content: center;
  }
  .caja_img {
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
  }
  .caja_his {
    display: flex;
    flex-direction: column;
  }
  .caja_his-img img {
    width: 350px;
  }
  .caja_his-img {
    display: flex;
    align-items: center;
    padding: 30px 30px;
  }
  .caja_his-p {
    width: auto;
    padding: 20px 20px;
  }
  .caja_his-imgdos img {
    width: 350px;
  }
  .caja_his-imgdos {
    display: flex;
    align-items: center;
    padding: 20px 30px;
  }
  .redes {
    padding: 15px 30px;
  }
  /* contacto */
  .form_text {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
